.main{
    padding: 2rem 1rem;

    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 1.5rem;

    /*-------------- index/ ---------------------*/

    .prod-destacados{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        gap: 1rem;
        padding: 1rem 1rem;
        background-color: $color_prod_destacados;
        border-radius: 2rem;
    }

    .categ-destacadas{
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color:$color_categoiras_destacados;


        .imgs-madera{
            width: 45%;
            /*height: 20vh;*/
            aspect-ratio: 3/2;
        
            background-image: url("../img/i_madera.png");
        
            background-size: cover;
            flex:20rem 40rem;
        
            border-radius: 1rem;
        
            /*color: white;*/
            display: flex;
            justify-content:center;
            align-items: center;
            font-weight: 1000;
            font-size: 2rem;
        }
        
        .imgs-metales{
            width: 45%;
            /*height: 20vh;*/
            aspect-ratio: 3/2;
        
            background-image: url("../img/i_metales.png");
        
            background-size: cover;
            flex:20rem 40rem;
        
            border-radius: 1rem;
        
            /*color: white;*/
            display: flex;
            justify-content:center;
            align-items: center;
            font-weight: 1000;
            font-size: 2rem;
        }
        
        .imgs-accesorios{
            width: 45%;
            /*height: 20vh;*/
            aspect-ratio: 3/2;
        
            background-image: url("../img/i_accesorios.png");
        
            background-size: cover;
            flex:20rem 40rem;
        
            border-radius: 1rem;
        
            /*color: white;*/
            display: flex;
            justify-content:center;
            align-items: center;
            font-weight: 1000;
            font-size: 2rem;
        }
        
        .imgs-decorado{
            width: 45%;
            /*height: 20vh;*/
            aspect-ratio: 3/2;
        
            background-image: url("../img/i_decorado.png");
        
            background-size: cover;
            flex:20rem 40rem;
        
            border-radius: 1rem;
        
            /*color: white;*/
            display: flex;
            justify-content:center;
            align-items: center;
            font-weight: 1000;
            font-size: 2rem;
        }
    }

    @media (max-width:630px){
        .categ-destacadas{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content:space-around;
            align-items: center;
            gap: 1rem;
            padding: 1rem 1rem;
            border-radius: 2rem;
        }

        .imgs-madera{
            height:12rem;

        }
        .imgs-metales{
            height:12rem;
        }
        .imgs-accesorios{
            height:12rem;
        }
        .imgs-decorado{
            height:12rem;
        }
    }

    /*--------------********--------------------*/

    /*-------------- index/contacto ---------------------*/

    .h1-nombre{
        text-align: center;
        padding: 1rem;
        font-weight: 1000;
        font-size: 2rem;
    }

    /*--------------*****************--------------------*/


    /*-------------- index/pinturas/accesorios ------------*/

    .imgs-productos{
        width: 10rem;
        position: relative;

        /*display: flex;
        flex-direction: column;*/

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 0.4fr 0.4fr 0.4fr;

        gap: 0rem;

        /*PARA ANIMACION*/
        /* ----------------------------------------------
        * Generated by Animista on 2024-1-26 0:48:28
        * Licensed under FreeBSD License.
        * See http://animista.net/license for more info. 
        * w: http://animista.net, t: @cssanimista
        * ---------------------------------------------- */

        /**
        * ----------------------------------------
        * animation shadow-drop-center
        * ----------------------------------------
        */
        .radio {
            padding: 0%;
            border-radius: 3rem;
        }

        .t-prod{
            text-align: center;
            
            color: $color_texto_categoiras_destacados;
        }

        .precio{
            color: $color_precio_prod;
            font-weight: 800;
        }

        p{
            margin: 0rem;
        }

        .boton-carrito {
            /*position: absolute;*/
            /*bottom: 10px;*/
            /*position: absolute;
            bottom: 0;*/

            text-align: center;
            font-weight: 500;
            width: 100%;
            padding: 0.15rem;
            border-radius: 1rem;
            background-color: rgba(75, 75, 226, 0.473);
            /*left: 50%;*/
            /*transform: translateX(-50%);*/
            opacity: 0;
            transition: opacity 0.3s;
        }

    }

    /*.imgs-productos > * {
        flex: 1;
    }*/

    .imgs-productos:hover{

        .radio {

            -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        /*@-webkit-keyframes radio {
            0% {
            -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
            100% {
            -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            }
        }*/
        @keyframes shadow-drop-center {
            0% {
            -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            }
            100% {
            -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            }
        }

        .boton-carrito {
            opacity: 1;
        }
    }


    @media (max-width:630px){
    

        .imgs-productos{
            width: 8em;
    
            .t-achicar{
                font-size: 1rem;
                
            }
        }
    }

    /*--------------********************--------------------*/
    


    /*-------------- pinturas/accesorios---------------------*/
    .h2-pin-art{
        padding: 1rem;
    }

    .ordenar{
        display: flex;
        justify-content: space-between;
        align-items:center;


    }

    @media (max-width:500px){
        .ordenar {
            flex-direction: column;
            padding-bottom: 2rem;

        }
    }

    .formato-pin-art{
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        /*grid-template-areas: 
            "menu-compra menu-imag menu-imag menu-imag menu-imag";*/
        justify-content: space-between;

        .menu-compra{
            margin-left: 4rem;
            padding: 3rem 0rem;

            .input-n{
                height: 50%;
                width: 50%;
            }

        }

        .menu-imag{
            .prod-ventas{
                display: flex;
                flex-wrap: wrap;
                justify-content:space-around;
                /*align-items: center;*/
                gap: 1rem;
                padding: 1rem 1rem;
                background-color: $color_prod_destacados;
                border-radius: 2rem;
            }
        }    

    }

    @media (max-width:400px){
        .formato-pin-art{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            gap: 2rem;
            /*grid-template-areas: 
                "menu-compra menu-imag menu-imag menu-imag menu-imag";*/
            justify-content: space-between;
    
            .menu-compra{
                padding: 3rem 0rem;
    
                .input-n{
                    height: 50%;
                    width: 50%;
                }
    
            }  
    
        }
    }

    

    /*--------------*******************---------------------*/


    /*-------------- pinturas ---------------------*/

    .carrito{
        background-color: rgba(123, 156, 123, 0.856);
        border-radius: 2rem;
        padding: 2rem;

        .input {
            width: 100%;
        }
    }

    /*--------------*******************---------------------*/
    

    /*-------------- contacto ---------------------*/




    .transition-contacto{
        transition: 2s;
    }

    .transition-contacto:hover{
        background-color: $color_contacto_tran;
        border-radius: 2rem;
    }

    .formulario{
        padding: 1rem;

        .transition-contacto{
            transition: 2s;
        }

        .transition-contacto:hover{
            background-color: $color_contacto_tran;
            border-radius: 2rem;
        }

        .div-formulario{
            padding: 1rem;

            .input {
                width: 100%;
            }
        }
    }

    /*--------------**********---------------------*/


    /*-------------- sucursal ---------------------*/
    .h2-sucursales{
        text-decoration: underline;
    }

    .flex-sucursales{
        display: flex;
        gap:2rem;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .flex-sucursales-imagenes{
            display: flex;
            gap:2rem;
            align-items: center;
            justify-content: center;

            padding: 1rem 0rem;

            .flex-item {
                flex: 1; /* Hace que ambos elementos ocupen el mismo espacio */
            }
            
            .img-ubicaion {
                height: 100%; /* Ajusta la altura al 100% del contenedor */
                object-fit: cover;
            }
            
            .ubicacion {
                object-fit: cover;              
            }

            @media (max-width:645px){
                .ubicacion{
                    max-width: 400px;
            
                }
            }


            @media (max-width:450px){
                .ubicacion{
                    max-width: 300px;
                    height: 300px;
            
                }
            }

            @media (max-width:335px){
                .ubicacion{
                    max-width: 200px;
                    height: 200px;
            
                }
            }
        
        }
    }

    
    

    /*--------------**********---------------------*/

    
}
  