$color_header:#082c4e;
$color_texto_header:white;
$color_links_header:white;


$color_body: rgba(233, 148, 21, 0.541);
$color_prod_destacados:white;
$color_precio_prod: rgb(0, 110, 255);
$color_categoiras_destacados:rgba(33, 100, 145, 0.541);
$color_texto_categoiras_destacados:black;

$color_footer:#252525;


